<div class="row">
	<div class="span12">
		<div class=header>
			<h1>Search for Tracks</h1>
			<p>
				Search for any location (eg Street, Town, ZIP)
			</p>
		
			<%=form_tag('/search_tracks/list', :class => "form-search")  do %>
					<input type="text" class="search-query" name="search_tag">
					<button type="submit" class="btn">Search</button>
			<%end%>
		</div>
	</div>
	
</div>
