<div class="row">
	<div class="span12">
		<div class=header>
			<h1>Search for Tracks</h1>
			<p>
				Here should be a helpful text message
			</p>
		
			<form class="form-search">
					<input type="text" class="search-query" name="q">
					<button type="submit" class="btn">Search</button>
			</form>
		</div>
	</div>
	
</div>
